@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .rounded-12 {
        @apply rounded-[12px]
    }
}

@layer components {
    .line-ellipsis {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
}